<script type="IN/Login">

  <p>Hello, <?js= firstName ?> <?js= lastName ?>.</p>
  <p> THIS IS ON THE SESSION CONTROLLER </p>

    <form action="/users" method="POST">
      <input name="authenticity_token" value="<%= form_authenticity_token %>"
      type="hidden"/>
      <input type="hidden" name="user[profile_pic_url]" value="<?js= pictureUrl ?>"/>
      <?js if (pictureUrl) { ?>
      <img src="<?js= pictureUrl ?>"></img>
      <?js } else { ?>
      <p>Upload a photo, so we can see what you look like.</p>
      <?js } ?>

      <p>Name: <input type="text" name="user[name]" value="<?js= firstName ?> <?js= lastName ?>" /></p>
      <p>Password: <input type="password" name="user[password]" /></p>
      <p>Password Confirmation: <input type="password" name="user[password_confirmation]" /></p>
      <p>City: <input type="text" name="user[city]" /></p>
      <p>Email: <input type="text" name="user[email]"/></p>

      <p>State: <input type="text" name="user[state]" /></p>
      <p>Zip: <input type="text" name="user[zip]" /></p>
      <p>Current Position: <input type="text" name="user[current_position_title]" /></p>
      <label>Employment Status:</label>
        <select id="employment_status" name="user[employment_status]">
          <option value="None"></option>
          <option value="Full-Time">Full-Time</option>
          <option value="Part-Time">Part-Time</option>
          <option value="Self-Employed">Self-Employed</option>
          <option value="Currently Looking">Currently Looking</option>
          <option value="Intern">Intern</option>
          <option value="Other">Other</option>
        </select>
      <p>Company Name: <input type="text" name="user[company_name]" /></p>
      <p>LinkedIn Profile Link: <input type="text" name="user[linkedin_profile_link]" /></p>
      <input type="hidden" name="user[member_id]" value="<?js= id ?>"/>

      <input type="submit" name="submit" value="Sign Up"/>
    </form>
  </script>
