<h1> USUS </h1>
<h2> The Skills to Strengths Emulator </h2>

<div id="login">

<!-- New User Registration Form Using Auto-Populate Script from LinkedIN API
Potential Re-factor: user form_for helper in the users/new route -->

  <script type="IN/Login">

  <p>Hello, <?js= firstName ?> <?js= lastName ?>.</p>

   <form action="session/new" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>"
      type="hidden"/>
    <input type="hidden" name="session[member_id]" value="<?js= id ?>"/>
    <input type="submit" name="submit" value="Existing User" />
   </form>


   <form action="users/new" method="GET">
    <input type="submit" name="submit" value="New User" />
   </form>



  </script>



</div>



<!-- LinkedIN Session Logout -->
<a onclick='IN.User.logout(function redirect(){
    window.location = "logout.php";
  });'
href="javascript:void(0)">Log Me Out</a>
