<h1> USUS </h1>
<h2> The Skills to Strengths Emulator </h2>

<div id="registration_form">

  <script type="IN/Login">

    <form action="/users" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>"
    type="hidden"/>
    <input type="hidden" name="profile_pic_url" value="<?js= pictureUrl ?>"/>
    <?js if (pictureUrl) { ?>
      <img src="<?js= pictureUrl ?>"></img>
    <?js } else { ?>
      <p>Upload a photo, so we can see what you look like.</p>
    <?js } ?>

    <p>Name: <input type="text" name="name" value="<?js= firstName ?> <?js= lastName ?>" /></p>
    <p>Password: <input type="password" name="password" /></p>
    <p>Password Confirmation: <input type="password" name="password_confirmation" /></p>
    <p>City: <input type="text" name="city" /></p>
    <p>Email: <input type="text" name="email"/></p>

    <p>State: <input type="text" name="state" /></p>
    <p>Zip: <input type="text" name="zip" /></p>
    <p>Current Position: <input type="text" name="current_position_title" /></p>
    <label>Employment Status:</label>
      <select id = "employment_status">
       <option value = "1"></option>
       <option value = "2">full time</option>
       <option value = "3">part time</option>
       <option value = "4">self employed</option>
       <option value = "5">currently looking</option>
       <option value = "6">intern</option>
      </select>
    <p>Company Name: <input type="text" name="company_name" /></p>
    <p>LinkedIn Profile Link: <input type="text" name="linkedin_profile_link" /></p>
    <input type="hidden" name="member_id" value="<?js= id ?>"/>

    <input type="submit" name="submit" value="Sign Up"/>

  </script>
</div>

<!-- NOTE: ADD PROFILE PIC -->

<!--
<a id="#register" href="/users/new">Sign Up!</a> -->
