<!DOCTYPE html>
<html>
<head>
  <title>UsusApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- LinkedIN API Framework  -->
  <!-- https://developer.linkedin.com/documents/getting-started-javascript-api -->

  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
    api_key: 77hbzaeoi6qcng
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
